<section class="search-bar">

  <div class="container">
    <div class="row">

      <div class="col-4 col-sm-12 left-appear">

        <h1 class="search-bar__title">Schools & clubs</h1>
      
      </div>

      <div class="col-8 col-sm-12 right-appear">

        <div class="search">
          <div class="search__address">
              <input type="text" class="search__input" value="New York">
          </div>
          <div class="search__location">

              <svg class="icon-search">
                <use xlink:href="#search"></use>
              </svg>
              <input type="text" id="search-input" class="search__input" value="158 Bleecker St, New York, NY 10012">

              <ul class="dropdown">

                <li class="dropdown__item" id="geolocation-trigger">
                    <svg class="icon" width="22" height="22">
                      <use xlink:href="#gps"></use>
                    </svg>
                    <span class="dropdown__value">Use my current location</span>
                </li>

                <li class="dropdown__item">
                    <svg class="icon" width="20" height="20">
                      <use xlink:href="#map"></use>
                    </svg>
                    <span class="dropdown__value">Choose on map</span>
                </li>

              </ul>

          </div>
        </div>

      </div>

    </div>
  </div>

</section>