.footer {
  margin-top: em(104);
  padding-bottom: em(30);

  @media screen and (max-width: $md) {
    font-size: 12px;
  }

  .logo {
    width: 94px;
    height: auto;

    @media screen and (max-width: $md) {
      width: 60px;
    }
  }

  &__nav {
    $font-size: 14px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: em(70, $font-size);
    padding-top: em(32, $font-size);
    font-size: $font-size;
    border-top: 1px solid $element-color;

    @media screen and (max-width: $md) {
      margin-left: em(20);
    }

    @media screen and (max-width: $sm) {
      justify-content: flex-end;
    }

    .nav {
      &__item {
        margin-right: 20px;
      }
    }
  }
}

.bottom-panel {
  display: flex;
  justify-content: space-between;
}
