<section class="section ">
  <div class="container">

    <div class="filter-menu sm-show">Filter</div>

    <div class="sort-bar sm-hide">

      <div class="sort-bar__group">
        <div class="sort-bar__item">
          <span class="value" id="result">6</span>
          <span>found</span>
        </div>
        <div class="sort-bar__item">
          <span> Sorted by</span>

          <div class="select-by">rating</div>

        </div>
        <div class="sort-bar__item sort-bar__item--accent">
          <svg class="icon" width="14" height="19">
            <use xlink:href="#pin"></use>
          </svg>
          <span>Map view</span>
        </div>
      </div>

      <div class="sort-bar__group">
        <div class="sort-bar__item">
          <span> Prices:</span>

          <div class="select-by">price</div>

        </div>
      </div>
    </div>
  </div>
</section>