<header class="header-bar">
  <div class="container">
    <div class="header">

      <a class="link link--logo" href="index.html">
        <img class="logo" src="assets/img/logo.png" alt="logo">
      </a>

      <div class="hamburger sm-show">
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
      </div>

      <div class="top-panel sm-hide">

        <nav class="nav" id="nav">
          <!-- navigation.json -->
        </nav>

        <a href="" class="link user">
          <span class="user__name md-hide">Karen</span>

          <span class="user__icon">
            <svg class="icon" width="19" height="20">
              <use xlink:href="#user"></use>
            </svg>
          </span>
        </a>
      </div>


    </div>
  </div>
</header>